[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

docopt = "*"
gitpython = "*"
py = ">=1.10.0"
tbx = {git = "https://github.com/tbarron/tbx"}


[dev-packages]

